.menu-container {
    position: fixed;
    height: 86px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #C54B8C;
    color: white;
}

#shop_logo {
    margin-left: 10%;
}

#shop_logo:hover {
    cursor: pointer;
}

#shop_title {
    margin-left: 10px;
}

.menu-item {
    width: 100%;
    margin-right: 10%;
}

.menu-items {
    float: right;
}