#product_link:hover {
    cursor: pointer;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.product-item {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 2fr 1fr;
    /* width: 300px; */
    height: 400px;
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
}

#button_buy {
    background-color: blue;
    align-self: end;
}